[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eel = "==0.18.2"
sanic = "*"
sanic-cors = "*"
cryptography = "*"
requests = "*"
FindMy = "==0.10.2"

[dev-packages]
pyinstaller = "*"
