[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eel = "*"
sanic = "*"
cryptography = "*"
pyobjc = "*"
openhaybike = {path = "./openhaybike"}
requests = "*"
sanic-cors = "*"

[dev-packages]
pyinstaller = "*"
cryptography = "*"
pyobjc = "*"
requests = "*"
openhaybike = {path = "./openhaybike"}
