[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
cryptography = "*"
pyobjc = "*"
openhaybike = {path = "./openhaybike"}
requests = "*"
sanic-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
